<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/plantilla}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Perfil</title>
</head>
<body class="bg-gradient-primary">

<!-- Aqui vamos a escribir el contenido de los bloques  -->
<div layout:fragment="contenido" >
    <!-- Page Title -->
    <div class="page-title mb-3" data-aos="fade">
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a th:href="@{/}">Inicio</a></li>
                    <li class="current">Configuración de Perfil</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Page Title -->
    <div class="container px-4">
        <div class="row">
        <!-- Menú lateral -->
            <div class="menu-lateral col-md-3">
                <div class="foto-perfil-container">
                    <a th:href="@{/usuario/{nickname}(nickname = ${usuario.nickname})}">
                        <img th:src="${usuario.avatar}" alt="Foto de perfil" class="foto-perfil">
                    </a>
                </div>
                <nav class="menu-opciones">
                    <a th:href="@{/config-perfil/editar-foto}" class="nav-link-guardados menu-btn-actividad">Editar Foto</a>
                    <a th:href="@{/config-perfil/seguridad}" class="nav-link-guardados menu-btn-actividad">Contraseña y Seguridad</a>
                    <a th:href="@{/config-perfil/datos-personales}" class="nav-link-guardados menu-btn-actividad">Datos Personales</a>
                    <a th:href="@{/config-perfil/perfiles-bloqueados}" class="nav-link-guardados menu-btn-actividad">Perfiles Bloqueados</a>
                </nav>
            </div>
        <!-- Contenido principal -->
        <div class="col-md-9">
            <div class="border rounded p-4">
                <p>En esta sección podrás configurar todos los datos del usuario, además de que podrás ver los usuarios que has bloqueado.</p>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>