<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/plantilla}">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
</head>
class="bg-gradient-primary">

<!-- Aqui vamos a escribir el contenido de los bloques  -->
<div layout:fragment="contenido" >
    <div class="container-fluid mt-4">
        <div class="row gx-5 d-lg-flex h-auto">

            <!-- Sidebar izquierda -->
            <div class="col-md-3 sidebar-guardados">
                <img th:src="${usuario.avatar}" alt="Foto de perfil">
                <a th:href="@{/actividad}" class="nav-link-guardados mt-4">Tu actividad</a>
                <a th:href="@{/config-perfil}" class="nav-link-guardados mt-4">Configuración de Cuenta</a>
                <a th:href="@{/conocenos}" class="nav-link-guardados mt-4">Conócenos</a>
            </div>

            <!-- Columna central -->
            <div class="col-md-6">
                <div class="perfil-box p-4 mb-3 rounded">
                    <h4 class="nombre-usuario mb-2" th:text="${usuario.nombre + ' ' + usuario.apellidos}"></h4>
                    <p class="descripcion-usuario mb-0" th:text="${'@'+usuario.nickname}"></p>
                </div>
                <!-- Publicación -->
                <div class="publicacion-box bg-white text-dark p-4 mb-4 rounded shadow-sm">
                    <!-- Previsualización del contenido -->
                    <div class="previsualizacion mb-3">
                        <img src="/uploads/contenido.jpg" alt="Contenido de la publicación" class="img-fluid rounded">
                    </div>


                </div>
            </div>
                <!-- Columna derecha -->
            <div class="col-md-3">
                <div class="fondoVerde text-white p-2 mb-2 rounded">Sugerencia de Usuarios</div>
                <div class="fondoVerde text-white p-2 mb-2 rounded">Sugerencia de Usuarios</div>
                <div class="fondoVerde text-white p-2 mb-2 rounded">Sugerencia de Usuarios</div>

            </div>
        </div>
    </div>
    </div>
    <script>
        function toggleChat() {
            const chatUsers = document.getElementById('chatUsers');
            chatUsers.classList.toggle('show');
        }
    </script>
</div>
</html>
